@import '~antd/dist/antd.less';

@font-size-base         : 14px;
@font-size-sm           : 12px;
@menu-dark-bg           : #002140;
@menu-dark-submenu-bg   : #002140;

body {
  overflow-x: hidden;
}

.handle-error {
  color: #f5222d;
}

// img {
//   max-width: 100%;
//   max-height: 100%;
//   margin: auto;
//   display: block;
// }